oasis/web/ePolicy/wsPolicy/wsPolicy.war/resources/wsdls/MedicalMalpracticeQuoteAcceptService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.delphi-tech.com/ows/MedicalMalpracticeQuoteAcceptService"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
  targetNamespace="http://www.delphi-tech.com/ows/MedicalMalpracticeQuoteAcceptService" name="MedicalMalpracticeQuoteAcceptService">
  <types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
      targetNamespace="http://www.delphi-tech.com/ows/MedicalMalpracticeQuoteAcceptService"
      xmlns:tns="http://www.delphi-tech.com/ows/MedicalMalpracticeQuoteAcceptService"
      xmlns:xs="http://www.w3.org/2001/XMLSchema"
      >

      <xs:element name="MedicalMalpracticeQuoteAcceptRequest" type="tns:MedicalMalpracticeQuoteAcceptRequestType"/>
      <xs:complexType name="MedicalMalpracticeQuoteAcceptRequestType" >
        <xs:sequence>
          <xs:any minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:element name="MedicalMalpracticeQuoteAcceptResult" type="tns:MedicalMalpracticeQuoteAcceptResultType"/>
      <xs:complexType name="MedicalMalpracticeQuoteAcceptResultType">
        <xs:sequence>
          <xs:any minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

    </xs:schema>
  </types>
  <message name="MedicalMalpracticeQuoteAcceptRequest">
    <part name="medicalMalpracticeQuoteAcceptRequest" element="tns:MedicalMalpracticeQuoteAcceptRequest"/>
  </message>
  <message name="MedicalMalpracticeQuoteAcceptResult">
    <part name="medicalMalpracticeQuoteAcceptResult" element="tns:MedicalMalpracticeQuoteAcceptResult"/>
  </message>
  <portType name="MedicalMalpracticeQuoteAcceptService">
    <operation name="medicalMalpracticeQuoteAcceptRequest">
      <input message="tns:MedicalMalpracticeQuoteAcceptRequest"/>
      <output message="tns:MedicalMalpracticeQuoteAcceptResult"/>
    </operation>
  </portType>
  <binding name="MedicalMalpracticeQuoteAcceptServicePortBinding" type="tns:MedicalMalpracticeQuoteAcceptService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="medicalMalpracticeQuoteAcceptRequest">
      <soap:operation soapAction="medicalMalpracticeQuoteAcceptRequest"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="MedicalMalpracticeQuoteAcceptService">
    <port name="MedicalMalpracticeQuoteAcceptServicePort" binding="tns:MedicalMalpracticeQuoteAcceptServicePortBinding">
      <soap:address location="http://10.195.7.83:6001/odev20132/ePolicy/wsPolicy/MedicalMalpracticeQuoteAcceptService"/>
    </port>
  </service>
</definitions>